{% extends "base.html" %}

{% block script %}
<script type="text/javascript">

</script>
{% endblock %}

{% block content %}

<h3> Exemplar:</h3>

<p> Here is an example of Helios in action:</p>

<h3> Process:</h3>

<p> 1. Helios gathers data on the user through conducting a thorough analysis of their resume, collecting keywords, relevant skills, and any other pertinent data needed to optimize connections.</p>
   
<p> 2. Keywords are sifted through a database containing information from employers’ job descriptions on major hiring sites such as Indeed and Monster, in order to match potential employees to their potential employers.</p>
  
<p> 3. Based on the analyzed data, relevant job listing will appear for potential employees to make use of as they see fit. They will be able to select interesting jobs from Helios and be directed straight to the link of the job itself.</p>

<h3> About Helios:</h3>

<p> Nowadays, the average person will work in 12 different jobs over the course of their life, with the average person spending less than 5 years in each job before moving on to the next chapter of their career. 

Helios is a data-driven tool that helps potential employees in their job search by matching keywords in their resume, to qualifications, certifications and other requirements listed by employers. 
    </p>
{% endblock %}
