{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
    

</script>
{% endblock %}

{% block content %}

<!-- Center Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Helios!</h1>
    <p class="lead">Find your perfect fitting job today!</p>
    <hr class="my-4">
    <p>Upload your resume or CV and we'll match you with jobs from all over the internet!</p>
    <a class="btn btn-primary btn-lg" onclick="goto_Search()" role="button"><div class="btn-text">Upload Resume</div></a>
  </div>
</div>

{% endblock %}
