{% extends "base.html" %}

{% block script %}
<script type="text/javascript">
    function uploadFile(){
        alert("yo");
        var file = document.getElementById("resume-file").files[0];
        var req = new XMLHttpRequest();
        var formdata = new FormData();
        formdata.append("resume", file);
        req.onreadystatechange = function(){
            if(req.readyState == 4 && req.status==200){
                alert("back");
            }
        }
        req.open("POST", '/upload');
        req.send(formData);
    }

</script>
{% endblock %}

{% block content %}
<form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <div class="custom-file">
        <input type="file" class="custom-file-input" name="resume" id="resume-file">
        <label class="custom-file-label" for="image">Browse</label>
        <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </div>

</form>

{% endblock %}
